@import url(http://fonts.googleapis.com/css?family=Roboto);

html,body {
  height:100%;
      font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 600;
    letter-spacing: 0.1em;
line-height:1em;
text-align:center;
padding:0.5em;
  font-size:80px;
  color:#DDCCEE;
}
h1 {
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 2px;
    font-size:80px;

}
.lead {
    color:#DDCCEE;
    font-weight: 600;
    

}


/* Custom container */
.container-full {
  margin: 0 auto;
  width: 100%;
  min-height:100%;  
  background: linear-gradient(175deg, #95C4CF, #002E37);  
  color:#eee;
  overflow:hidden;
}

.container-full a {
  color:#efefef;
  text-decoration:none;
}

.v-center {
  margin-top:2%;
}
  
.padding5 {
  padding: 5%;
}
.img1{
  float: left;
  display: inline;

}
.img2{  
  margin-top:5%;
}

#messages .msg, #h2_user{  
  padding: 1%;
  border-radius: 10px;
}
#messages .msg_content{
  background: linear-gradient(175deg, #95C4CF, #fff);
  border-radius: 10px;
  padding: 2%;
  color:black;
  overflow-wrap: break-word;
  margin: -0.5% 3%; 
  line-height:1.9em;
}



#messages .pseudo_msg {
  font-size: 1.2em;
  font-weight: bold;
  color: #2E76AE;
  background:  linear-gradient(175deg, #ddd, #fff);
  box-shadow: 2px 2px 0px #aaa;
  border-radius: 12px;
  padding: 1%;
  margin-right: 1%; 
  max-width: 45%;
  display: inline;
}

.clear{
  clear: both;
}
.users{
  background: linear-gradient(175deg, #95C4CF, #fff);
  color: black;
  border-radius: 10px;
}

textarea {
	resize:none;
}